Checks: '-*,
bugprone-*,
cert-*,
cppcoreguidelines-*,
hicpp-*.
misc-*,
modernize-*,
performance-*,
readability-*,
-misc-include-cleaner,
-modernize-use-trailing-return-type,
-readability-redundant-access-specifiers'

CheckOptions:
  bugprone-assert-side-effect.AssertMacros: 'assert,Expects,Ensures'
  bugprone-easily-swappable-parameters.MinimumLength: 3
  bugprone-implicit-widening-of-multiplication-result.UseCXXStaticCastsInCppSources: true
  bugprone-implicit-widening-of-multiplication-result.UseCXXHeadersInCppSources: true
  bugprone-misplaced-widening-cast.CheckImplicitCasts: true
  cppcoreguidelines-pro-type-member-init.UseAssignment: false
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  modernize-deprecated-headers.CheckHeaderFile: true
  readability-function-cognitive-complexity.Threshold: 50
  readability-function-cognitive-complexity.Threshold.DescribeBasicIncrements: true
  readability-function-size.LineThreshold: 25
  readability-function-size.ParameterThreshold: 4
  readability-identifier-length.MinimumParameterNameLength: 1

WarningsAsErrors: '*'

# HeaderFileExtensions: [ '', 'hpp' ]

FormatStyle: file

